header {
            background-color: #333;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }
        footer{
            background-color: #333;
          color: #fff;
          padding: 20px 0;
          text-align: center;
        } 
        
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
          }
        nav {
            text-align: center;
            margin-bottom: 20px;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }

        nav a:hover {
            text-decoration: underline;
            color: #00ffea; /* Change to desired hover color */
        }
        .contact-container {
            
            max-width: 800px;
            margin: 7px auto;
            padding: 40px;
            background-color: #333;
            color: #fff;
            border-radius: 10px;
        }

        .contact-form {
            margin-top: 20px;
        }

        .contact-form label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .contact-form input[type="text"],
        .contact-form input[type="email"],
        .contact-form textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .contact-form textarea {
            height: 150px;
        }

        .contact-form input[type="submit"] {
            background-color: #e9efe9;
            color: rgb(14, 14, 14);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            border: none;
            padding: 15px 20px;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .contact-form input[type="submit"]:hover {
            background-color: #45a049;
            color: #ccc;
        }
        .movies-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        .movie-card {
            background-color: #f8f8f8;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            height: 450px;
            width: 450px;
            margin: 10px 5px 0px 10px;
        }

        .movie-card img {
            width: 100%;
            height: auto;
        }

        .movie-details {
            padding: 15px;
        }

        .movie-title {
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .movie-description {
            font-size: 0.9em;
            color: #666;
        }
        .movies-container img{
            height: 300px;
            width: 400px;
        }

        
          